body {
  font-size: 16px;
  color: #070707 ;
  background-color: #FBECE9 ;
  font-family: 'Oxygen', sans-serif;
}
/** HEADER **/
#header-nav {
  background-color:#E1C6C0;
  border-radius: 0;
  border: 0;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #070707 ;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Heading */
  font-family: 'Lora', serif;
  color:#070707 ;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
#nav-list {
  margin-top: 8px;
}
#nav-list a {
  color: #070707 ;
  text-align: center;
}
#nav-list a:hover {
  background: #900C3F;
  color: #FBFBFB ;
  font-weight: bold;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #070707 ;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
#main-content {
  text-align: center;
}

#Chicken{

border: 1px solid #070707 ;
background: #B9B2B1 ;
}
#Beef{

border: 1px solid #070707 ;
background: #B9B2B1 ;

}
#Sushi{

border: 1px solid #070707 ;
background: #B9B2B1 ;

}

h2 {
margin-bottom: 40px;
font-weight: bold;
}
h3{
  margin-bottom: 40px;
  font-weight: bold;
}
p{
  text-align: left;
  padding: 10px;

}
/********** Large devices only **********/
@media (min-width: 1200px) {

  #nav-list{
    display: none;
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

   #nav-list{
    display: none;
  }
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

   #nav-list{
    display: none;
  }
    #Chicken{
    margin-bottom: 20px;
  }
   #Beef{
    margin-bottom: 20px;
  }
}


/********** Extra small devices only **********/
@media (max-width: 767px) {
  #Chicken{
    margin-bottom: 20px;
  }
   #Beef{
    margin-bottom: 20px;
  }
}

